In [1]:
import pandas as pd
import numpy as  np
import string
import re

In [2]:
data = pd.read_csv('dataset_komentar_instagram_cyberbullying.csv')
data

      Id Sentiment                             Instagram Comment Text
0      1  negative   <USERNAME> TOLOL!! Gak ada hubungan nya kegug...
1      2  negative  Geblek lo tata...cowo bgt dibela2in balikan......
2      3  negative  Kmrn termewek2 skr lengket lg duhhh kok labil ...
3      4  negative  Intinya kalau kesel dengan ATT nya, gausah ke ...
4      5  negative  hadewwwww permpuan itu lg!!!!sakit jiwa,knp ha...
..   ...       ...                                                ...
395  396  positive  Bangga sama suami yg selalu ingat istri disela...
396  397  positive  Apaoun pekerjaannya yg penting halal u tuk men...
397  398  positive  Gojek itu mayoritas pegangguran yang lama gak ...
398  399  positive   <USERNAME> aslinya cantik dan ayu loh mbak kr...
399  400  positive   <USERNAME> suami saya seumuran sama saya mba,...

[400 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      400 non-null    int64
 1   Sentiment               400 non-null    object
 2   Instagram Comment Text  400 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.5+ KB

In [4]:
data.describe(include=object)

       Sentiment                             Instagram Comment Text
count        400                                                400
unique         2                                                397
top     negative   <USERNAME> ini lagi pemikiran manusia bodoh, ...
freq         200                                                  2

In [6]:
print('Jumlah Data\t = ', len(data))
print('Data Negative\t = ', len(data[data['Sentiment'] == 'negative']))
print('Data Positive\t = ', len(data[data['Sentiment'] == 'positive']))

Jumlah Data	 =  400
Data Negative	 =  200
Data Positive	 =  200

In [15]:
from nltk.tokenize import word_tokenize

def find_freq (text):
    tokens = word_tokenize(text)
    freq = {}
    
    for word in tokens:
        if word in freq:
            freq[word]+=1
        else:
            freq[word]=1
            
    sortedd = sorted(freq.items(), key=lambda x :x[1], reverse=True)     
    return sortedd

In [18]:
combi = ' '.join(data['Instagram Comment Text'])
freqq = find_freq(combi)
freq_df = pd.DataFrame(freqq, columns=['data', 'freq'])
freq_df

               data  freq
0                 ?   777
1                 ,   376
2                 .   286
3                yg   203
4                ..   195
...             ...   ...
3704       seumuran     1
3705          tuaan     1
3706  alhamdulillah     1
3707        kekanak     1
3708        kanakan     1

[3709 rows x 2 columns]

In [19]:
freq_df.to_csv('freq.csv')

In [25]:
def case_fold(text):
    text = text.lower()
    text = re.sub('\[.*?\]',' ',text)
    text = re.sub('https?://\S+|www\.\S+',' ',text)
    text = re.sub('<.*/>+',' ',text)
    text = re.sub('[%s]' % re.escape(string.punctuation),' ',text)
    text = re.sub('\n',' ',text)
    text = re.sub('\w*\d\w*',' ',text)
    text = re.sub('[^a-z]',' ',text)
    text = re.sub(r'(.)\1{2,}',r'\1',text)
    return text

In [36]:
key_norm = pd.read_csv('keynorm.csv', sep=';')
key_norm

  singkat                 hasil
0     cpp  calon pengantin pria

In [39]:
def text_norm(text):
    text = ' '.join([key_norm[key_norm['singkat'] == word]['hasil'].values[0] if (key_norm['singkat'] == word).any() else word for word in text.split()])
    text = text.lower()
    return text

In [41]:
from nltk.corpus import stopwords

stopword_ind = stopwords.words('indonesian')

In [42]:
def remove_stopword(text):
    clean=[]
    text = text.split()
    
    for word in text:
        if word not in stopword_ind:
            clean.append(word)
    return ' '.join(clean)

In [40]:
test = data['Instagram Comment Text'].iloc[10]
print('Data Asli\t = ', test)

test = case_fold(test)
print('Data c f\t = ', test)

test = text_norm(test)
print('Data t n\t = ', test)

Data Asli	 =  Syarat sah nikah menurut agama islam hanya 5 yaitu : adanya CPP, adanya CPW, saksi, wali nikah dan mas kawin/mahar. Perkara makeup gak manglingi bukan syarat sah pernikahan. Sekalipun gak makeup tapi syarat yg 5 tersebut terpenuhi maka pernikahannya SAH yak emak emak julids
Data c f	 =  syarat sah nikah menurut agama islam hanya yaitu adanya cpp  adanya cpw  saksi  wali nikah dan mas kawin mahar  perkara makeup gak manglingi bukan syarat sah pernikahan  sekalipun gak makeup tapi syarat yg tersebut terpenuhi maka pernikahannya sah yak emak emak julids
Data t n	 =  syarat sah nikah menurut agama islam hanya yaitu adanya calon pengantin pria adanya cpw saksi wali nikah dan mas kawin mahar perkara makeup gak manglingi bukan syarat sah pernikahan sekalipun gak makeup tapi syarat yg tersebut terpenuhi maka pernikahannya sah yak emak emak julids